:root {
  --bg-color: #1e1e1e;
  --sidebar-color: #252526;
  --text-color: #d4d4d4;
  --accent-color: #4c4c4c;
  --accent-color2: #6c6869;
  --card-bg: #2d2d30;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 287px; /* Width of the sidebar */
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--sidebar-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: var(--sidebar-color);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
}

.search-container {
  flex-grow: 1;
  max-width: 400px;
  margin: 0 auto;
}


#search-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 14px;
}
.top-bar-buttons {
  display: flex;
  gap: 10px;
}

#search-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--accent-color);
}

.content {
    flex-grow: 1;
    padding: 45px 163px 20px; /* Add top padding to account for the top bar */
    overflow-y: auto;
    max-height: calc(100vh - 60px); /* Extend to max height */

    background-color: var(--bg-color);
}


#notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 100%; /* Ensure notes container doesn't overflow */
}

.note-card {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 15px;
  max-width: 100%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.note-card:hover {
  transform: translateY(-5px);
}

.note-card h3 {
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

button {
  background-color: var(--accent-color);
  color: var(--font-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #707070;
}

#add-note {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 24px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#categories {
  list-style-type: none;
  padding: 0;
}

#categories li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

#categories li:hover {
  background-color: rgba(255,255,255,0.1);
}

#categories li.active {
  color: #ffffff;
  background-color: var(--accent-color);
}
.edit-view {
    position: fixed; /* Change to fixed positioning */
    top: 0;
	border: none;
    right: -100%;
    width: calc(100% - 290px);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    overflow-y: false; /* Allow scrolling within edit view if needed */
}

.edit-view.open {
    right: 0;
    opacity: 1;
}

.edit-view header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--sidebar-color);
}

.edit-view header #note-title {
  flex-grow: 1;
  align-items: center;
  margin-right: 10px;
  margin-top: 15px;
  font-size: 28px;
  font-weight: bold;
  border: none;
  max-width: 80%;
  background: transparent;
  color: var(--text-color);
}
.edit-view header #note-title:focus {
    outline: none;
    border-color: var(--accent-color) !important;
	border-radius: 3px;
    box-shadow: 0 0 0 2px var(--accent-color);
}
.edit-view main {
	border: none; 
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.edit-view footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--sidebar-color);
}


#note-title,
#note-content,
#note-category {
	border-radius: 9px;
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--accent-color2);
}

#note-title {
    font-size: 24px;
    border: none;
    background: transparent;
    margin-bottom: 20px;
    padding: 5px;
}

#note-content {
    flex-grow: 1;
    resize: none;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

#note-category {
    padding: 5px 10px;
    border-radius: 5px;
}

#note-color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 27px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#note-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

#note-color::-webkit-color-swatch {
    border: none;
	border-radius: 3px;
    box-shadow: 0 0 0 2px var(--accent-color), 0 0 0 0px var(--accent-color);
}

#note-color::-moz-color-swatch {
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px var(--accent-color), 0 0 0 0px var(--accent-color);
}

#note-color:focus {
    outline: none;
}

/* Adjust the note-meta class to align items */
.note-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.note-meta-left {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust this value to control spacing between dropdown and color selector */
}


#close-edit, #save-note {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

#close-edit {
    background-color: var(--sidebar-color);
	Padding: 5px;
	height: 45px;
	transform: rotate(180deg);
	color: var(--accent-color);
}

#save-note {
	height: 38px;
	width: 90px;
	font-size: 18px;
	color: var(--font-color);
    background-color: var(--accent-color);
}

.sync-controls {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: var(--bg-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--accent-color);
  width: 80%;
  max-width: 500px;
}

.modal-content input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.modal-content button {
  margin-right: 10px;
}

/* Add these styles to your existing CSS */
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  height:35px;
  width: 35px;
  padding: 5px;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

.icon-button.syncing .icon {
  animation: rotate 1s linear infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--accent-color2);
  }
  50% {
    box-shadow: 0 0 10px var(--accent-color2);
  }
  100% {
    box-shadow: 0 0 5px var(--accent-color2);
  }
}

#save-note.glow {
  animation: glow 10s ease-in-out infinite;
}

/* Quill editor styling */
.ql-editor {
    border: none; /* Remove default border */
    padding: 10px; /* Add padding */
    min-height: 400px; /* Set a minimum height */
    font-size: 1rem; /* Adjust font size */
    line-height: 1.5; /* Adjust line height */
    background-color: var(--card-bg); /* Background color to match your UI */
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); /* Light inner shadow for border effect */
    border-radius: 5px; /* Rounded corners */
    max-height: calc(100vh - 250px); /* Extend to max height */
    overflow-y: auto; /* Scroll if content overflows */
}

.ql-editor::-webkit-scrollbar-track {
    background: var(--card-bg); /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

.ql-editor::-webkit-scrollbar-thumb {
    background: var(--card-bg); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.ql-editor::-webkit-scrollbar-thumb:hover {
    background: var(--card-bg); /* Color of the thumb on hover */
}

/* Custom scrollbar styling for Firefox */
.ql-editor {
    scrollbar-width: thin; /* Make the scrollbar thin */
    scrollbar-color: #888 var(--card-bg); /* Thumb and track colors */
}



/* Quill toolbar styling */
.ql-toolbar {
    border: none !important;
    background-color: var(--card-bg); /* Light background color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Light shadow for better visual */
    margin-bottom: 10px; /* Space below toolbar */
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}

.ql-toolbar .ql-formats {
	border: none;
	background-color: var(--card-bg);
    margin-right: 10px; /* Space between groups */
}

/* Customize toolbar buttons */
.ql-toolbar button,
.ql-toolbar .ql-picker {
	color: var(--text-color) !important;
    border: none; /* Remove border */
    background-color: rgba(22, 0, 32, 0.1); /* Transparent background */
    padding: 5px; /* Padding for better click area */
    margin: 2px; /* Small margin */
    border-radius: 3px; /* Rounded corners */
    transition: background-color 0.2s; /* Smooth hover effect */
}

.ql-toolbar button {
    color: var(--font-color) !important;
}

.ql-toolbar button:hover,
.ql-toolbar .ql-picker:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Light background on hover */
}

/* Active button state */
.ql-toolbar button.ql-active,
.ql-toolbar .ql-picker.ql-active {
    background-color: rgba(0, 230, 0, 0.2); /* Darker background for active state */
}

/* Add these media queries at the end of your existing CSS */

@media screen and (max-width: 768px) {
      .container {
        flex-direction: column;
        align-items: center;
    }
	
  .top-bar {
    left: 0;
    flex-wrap: wrap;
  }

  .search-container {
    order: 1;
    width: 100%;
    margin-bottom: 10px;
  }

  .top-bar-buttons {
    order: 2;
    width: 100%;
    justify-content: space-around;
  }
  .sidebar {
    display: none;
  }
  .search-container, .sync-controls {
        display: none;
   }

  .content {
    width: 100%;
    padding: 10px;
    margin-left: 0;
	margin-top: 30px;
  }

  #notes-container {
	max-width: 350px;
    grid-template-columns: 1fr;
  }

  .edit-view {
    width: 100%;
    height: 100vh;
    right: -100%;
  }

  .edit-view.open {
    right: 0;
  }

  #add-note {
    bottom: 20px;
    right: 20px;
  }

  .sync-controls {
    top: 10px;
    right: 30px;
  }
  
}

@media screen and (max-width: 480px) {
  .note-card {
    padding: 10px;
  }

  #add-note {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .edit-view header,
  .edit-view footer {
    padding: 10px;
  }

  #note-title,
  #note-content,
  #note-category {
    font-size: 14px;
  }

  #save-note {
    height: 32px;
    width: 80px;
    font-size: 16px;
  }
}
